body{
    background-color: rgb(29, 28, 28);
}
.frame{
    background: white;
}
.keyword{
    color: rgb(218, 133, 37);
}
.text{
    color: green;
}
.blank{
    color: white;
}
.function{
    color: rgb(14, 27, 141);
}
.inbfunct{
    color: rgb(126, 35, 201);
}
